fastapi==0.135.2
uvicorn[standard]==0.42.0
SQLAlchemy==2.0.48
python-dotenv==1.2.2
Werkzeug==3.1.7
Jinja2==3.1.6
pydantic==2.12.5
starlette==1.0.0
anyio==4.13.0
httptools==0.7.1
pyyaml==6.0.3
watchfiles==1.1.1
websockets==16.0
typing-extensions==4.15.0
annotated-types==0.7.0
colorama==0.4.6
h11==0.16.0
idna==3.11
markupsafe==3.0.3
click==8.3.1
greenlet==3.3.2

