{% extends 'base.html' %}
{% block title %}Add Student{% endblock %}
{% block content %}
<div class="card">
  <h1>Add Student</h1>
  <form method="post">
    <label class="label">USN</label>
    <input name="usn" required />
    <label class="label">Name</label>
    <input name="name" required />
    <label class="label">Dept</label>
    <input name="dept" />
    <label class="label">Semester</label>
    <input name="semester" type="number" min="1" max="8" />
    <div style="margin-top:12px">
      <button class="btn" type="submit">Add</button>
    </div>
  </form>
</div>
{% endblock %}
