{% extends 'base.html' %}
{% block title %}Edit Student{% endblock %}
{% block content %}
<div class="card">
  <h1>Edit Student</h1>
  <form method="post">
    <label class="label">USN (readonly)</label>
    <input value="{{ student.usn }}" readonly />
    <label class="label">Name</label>
    <input name="name" value="{{ student.name }}" required />
    <label class="label">Dept</label>
    <input name="dept" value="{{ student.dept }}" />
    <label class="label">Semester</label>
    <input name="semester" type="number" min="1" max="8" value="{{ student.semester }}" />
    <div style="margin-top:12px">
      <button class="btn" type="submit">Save</button>
    </div>
  </form>
</div>
{% endblock %}
